.controller.custom{
	/* https://i.imgur.com/8sOwbGE.png */
	background: url(img/base-hi-visibility.png);
	height: 96px;
	width: 275px;
}
.custom.disconnected{
	background: url(img/base-hi-visibility.png);
}
.custom.disconnected div{
	display: none;
}

.custom .triggers{
	width: 135px;
	height: 11px;
	position: absolute;
	left: 10px;
	top: 2px;
}
.custom .trigger{
	width:61px;
	height:10px;
	background: url(img/trigger.png);
	opacity: 0;
}
.custom .trigger.left{
	float: left;
}
.custom .trigger.right{
	float: right;
}

.custom .bumper{
	width: 20px;
	height: 20px;
	background: url(img/button-z.png);
	opacity: 0;
}
.custom .bumpers{
	position: absolute;
	width: 20px;
	height: 20px;
	left: 232px;
	top: 10px;
}
.custom .bumper.pressed{
	opacity: 1;
}
.custom .bumper.right{
	float: right;
}

/* arrows is start and back button? */
.custom .arrows{
	position: absolute;
	width: 19px;
	height: 19px;
	top: 31px;
	left: 158px;
}
.custom .back, .custom .start{
	background: url(img/button-start.png);
	width: 19px;
	height: 19px;
	opacity: 1;
}
.custom .back.pressed, .custom .start.pressed{
	opacity: 0;
}

.custom .abxy{
	position: absolute;
	width: 119px;
	height: 82px;
	top: 7px;
	left: 151px;
}
.custom .button{
	position: absolute;
	width: 119px;
	height: 80px;
}
.custom .button.pressed{

}
.custom .a{
	background: url(img/button-a.png);
	width: 58px;
	height: 58px;
	top: 24px;
	left: 34px;
	opacity: 0;
}
.custom .a.pressed{
	opacity: 1;
}
.custom .b{
	background: url(img/button-b.png);
	width: 32px;
	height: 32px;
	top: 50px;
	opacity: 0;
}
.custom .b.pressed{
	opacity: 1;
}
.custom .x{
	background: url(img/button-x.png);
	width: 26px;
	height: 48px;
	top: 24px;
	left: 93px;
	opacity: 0;
}
.custom .x.pressed{
	opacity: 1;
}
.custom .y{
	background: url(img/button-y.png);
	width: 45px;
	height: 25px;
	left: 33px;
	opacity: 0;
}
.custom .y.pressed{
	opacity: 1;
}

.custom .sticks{
    position: absolute;
    width: 144px;
    height: 76px;
    top: 13px;
    left: 3px;
}
.custom .stick{
    position: absolute;
}

.custom .stick.left{
	background: url(img/stick.png) no-repeat;
    height: 40px;
    width: 39px;
	top: 18px;
	left: 19px;
}
.custom .stick.right{
	background: url(img/stick-c.png) no-repeat;
    top: 31px;
    left: 100px;
	height: 23px;
    width: 23px;
}