.controller.custom{
	/* https://i.imgur.com/8sOwbGE.png */
	background: url(img/base.png);
	height: 96px;
	width: 275px;
}
.custom.disconnected{
	background: url(img/base.png);
}
.custom.disconnected div{
	display: none;
}

.custom.triggers{
	width: 135px;
	height: 10px;
	position: absolute;
	left: 10px;
	top: 2px;
}
.custom.trigger{
	width:61px;
	height:10px;
	background: url(img/trigger.png);
	opacity: 1;
}
.custom .trigger.left{
	float: left;
}
.custom .trigger.right{
	float: right;
}

.custom .bumper{
	width: 20px;
	height: 20px;
	background: url(img/button-z.png);
	opacity: 0;
}
.custom .bumpers{
	position: absolute;
	width: 20px;
	height: 20px;
	left: 232px;
	top: 10px;
}
.custom .bumper.pressed{
	opacity: 1;
}
.custom .bumper.right{
	float: right;
}
/* custom start button */

.custom .abxy{
	position: absolute;
	width: 119px;
	height: 82px;
	top: 7px;
	left: 151px;
}
.custom .button{
	position: absolute;
	width: 119px;
	height: 80px;
	background: url(img/button-face.png);
}
.custom .button.pressed{
	background-position-y: -64px;
	margin-top: 5px;
}
.custom .a{
	background: url(img/button-a.png);
	background-position: 62px 0;
	width: 58px;
	height: 58px;
	top: 24px;
	left: 34px;
	opacity: 1;
}

.custom .sticks{
    position: absolute;
    width: 144px;
    height: 76px;
    top: 13px;
    left: 3px;
}
.custom .stick{
    position: absolute;
}

.custom .stick.left{
	background: url(img/stick.png) no-repeat;
    height: 40px;
    width: 39px;
	top: 18px;
	left: 19px;
}
.custom .stick.right{
	background: url(img/stick-c.png) no-repeat;
    top: 31px;
    left: 100px;
	height: 23px;
    width: 23px;
}